@font-face {
  font-family: "TTTogether";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.web-font {
  background-color: cornsilk;
  font-family: 'TTTogether';
}