{% extends 'base.html' %}

{%block title%} My Own Blog {% endblock %}
{% block content %}

<h1>Like Lion Djagno Project</h1>
{% load static%}
<img src="{% static 'logo.png' %}" alt=""><br>

{% if user.is_authenticated%}
반가워요! {{ user.username }}님 오늘은 무슨 글을 쓰고 싶은가요?
{% endif %}
<a href="{%url 'new' %}">make your blog</a>

<div>

    {% for blog in blogs %}
       <hr>
       <h2>{{blog.title}}</h2>
       <p>{{blog.pub_date}}</p>
       <p>{{blog.summary}}</p>
         {% if blog.image %}
            <img src="{{blog.image.url}}" alt="">
         {% endif %}
      </a>
    {% endfor %}
 </div>
{% endblock %}

